<div>
    <h2>资讯信息：</h2>
    <form (ngSubmit)="onSubmit()" #informationForm="ngForm">
      
      <div class="form-group">
        <label for="name">标题(必填)：</label>
        <input type="text" class="form-control" id="name" name="name"
               required maxlength="100" placeholder="请填写标题" 
               [(ngModel)]="information.name" #name="ngModel"/>
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert alert-danger">
          <div *ngIf="name.errors.required">
            名字是必须的。
          </div>
          <div *ngIf="name.errors.maxlength">
            名字长度不能超过100字节。
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="province">报考省份：</label>
        <select class="form-control" 
            id="province" name="province" 
            [(ngModel)]="selectInformationScope.province" #province="ngModel"
            (change)="provinceChange($event.target.value)">
          <option value="">---选择地区---</option>
          <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="schoolId">学校：</label>
        <select class="form-control" 
                id="schoolId" name="schoolId" 
                (change)="schoolChange($event.target.value)"
                [(ngModel)]="information.schoolId" #schoolId="ngModel">
          <option value="">&#45;&#45;选择学校-</option>
          <option *ngFor="let school of schools" [value]="school.id">{{school.name}}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="professionalId">专业：</label>
        <select class="form-control" 
                id="professionalId" name="professionalId"
                [(ngModel)]="information.professionalId" #professionalId="ngModel">
          <option value="">---选择专业---</option>
          <option *ngFor="let professional of professionals" [value]="professional.id">{{professional.name}}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="year">属于那一年：</label>
        <select class="form-control" 
            id="year" name="year" 
            [(ngModel)]="information.year" #year="ngModel">
          <option value="">---年级---</option>
          <option *ngFor="let year of grades" [value]="year">{{year}}</option>
        </select>
      </div>

      <div class="form-group">
          <label for="url">链接：</label>
          <input type="text" class="form-control" id="url" name="url"
                 required pattern="^((ht|f)tps?):\/\/[\w\-]+(\.[\w\-]+)+([\w\-\.,@?^=%&:\/~\+#]*[\w\-\@?^=%&\/~\+#])?$" 
                 placeholder="请填写链接" 
                 [(ngModel)]="information.url" #url="ngModel"/>
          <div *ngIf="url.invalid && (url.dirty || url.touched)"
                class="alert alert-danger">
            <div *ngIf="url.errors.required">
              URL链接是必须的。
            </div>
            <div *ngIf=" url.errors.pattern">
              请输入有效的URL链接。
            </div>
          </div>
      </div>
  
      <button type="submit" class="btn btn-success" [disabled]="!informationForm.form.valid">提交</button>
      <button type="button" class="btn btn-default" (click)="back()">返回</button>
      <button type="button" class="btn btn-default" (click)="refresh()">刷新</button>
    </form>
  </div>